.title
{
display: block !important;
text-align: center;
font-size: 2.2rem;
margin-top: 12px;
}
.form-register
{
    width: 400px;
    margin: auto;
}

.PostForm{
    align-items: center;
    margin: auto;

}
 /* .h2
{
    color:chartreuse;
}
.PostForm .Button
{
    position: relative;
    align-self:center;
} */
@media screen and (max-width:480px)
{
    .postCards
    {
        display: flexbox !important;
    }
    .postCards .ui.card
    {
        margin: 2px 0 2px 0;
        display: inline-block !important;
    }
}